@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer components {
  .router {
    @apply text-gray-700 dark:text-gray-200 sm:hover:bg-gray-200 sm:hover:text-gray-900 sm:dark:hover:bg-gray-700 sm:dark:hover:text-gray-200
  }
  .router.router-link-exact-active {
    @apply bg-black text-white hover:bg-black hover:text-white dark:bg-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white;
  }
  body {
    @apply selection:bg-blue-100 selection:text-blue-500;
  }
}